<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:if="${error}" th:text="${error}"></div>

<form th:method="POST" th:action="@{/add}" th:object="${userDto}">
    <label for="name">Enter Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div th:if="${#fields.hasErrors('name')}"
         th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error"></div>
    <br/>

    <label for="name">Enter Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div th:if="${#fields.hasErrors('surname')}"
         th:each="err : ${#fields.errors('surname')}" th:text="${err}" class="error"></div>
    <br/>

    <label for="name">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div th:if="${#fields.hasErrors('age')}"
         th:each="err : ${#fields.errors('age')}" th:text="${err}" class="error"></div>
    <br/>

    <label for="name">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div th:if="${#fields.hasErrors('username')}"
         th:each="err : ${#fields.errors('username')}" th:text="${err}" class="error"></div>
    <br/>

        <label for="name">Enter password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <div th:if="${#fields.hasErrors('password')}"
            th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error">
        </div>
    <br/>

    <br>
        <select multiple name="roles[]" size="3" required="1">
            <option th:value="ROLE_ADMIN">ADMIN</option>
            <option th:value="ROLE_USER">USER</option>
        </select>
    <br/>

    <input type="submit" value="Done"/>

    <input type="button" value="Back"
           onclick="window.location.href = '/admin'"/>
</form>

</body>
</html>